canvas {
    background-image: url('https://media.istockphoto.com/illustrations/basketball-court-with-wood-texture-basketball-tactical-court-illustration-id1212609648?k=20&m=1212609648&s=612x612&w=0&h=zu2wOuFSp3ITyzREz1q9kNWzhJq4PdvFTAj7E7gJrdM=');
    /* background-repeat: repeat; */
    background-color: #fdd94a;
    width: 100%;
    max-width: auto;
    height: 680px;
    position: center;
    background-size: cover;
  }

  html,body {
      margin: 0;
      padding: 0
  }

  body {
    font-family: 'Gemunu Libre', sans-serif;
    padding-top: 25em;
    text-align: center;
    background-image: url('https://media.istockphoto.com/photos/basketball-arena-background-picture-id515975414?k=20&m=515975414&s=612x612&w=0&h=b7mVvK_J0naTuX3ELYSpyReFOcj_UwHW01qJsnCY1q8=');
    /* background-color: rgb(101, 138, 240); */
    /* background-image: url('../img/dungeonhell.png'); */
    background-position: center;
    background-size: cover;
    background-repeat: space;
  }

  #container {
    max-width: 70em;
    max-height: 50em;
    position: center;
    background-color:  rgb(216, 210, 210);
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .25fr .5fr .25fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas: "top-left top-middle top-right"
                      "game game game";
}


#top-left, #top-middle, #top-right
 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 15, 15);
    color: beige;
  
  }

  #top-left { 
    grid-area: top-left;
    font-size: 26px;
  }
 p {
     margin: 2em;
     font-size: 16px;
 }
  #top-middle {
    grid-area: top-middle;
    font-size: 62px;
  }
  
  #top-right {
    grid-area: top-right;
    font-size: 24px;
  }

  /* #btm-left {
    grid-area: btm-left;
    background-color: #222; 
  } */

  /* #btm-right {
    grid-area: btm-right;
     background-color: #222; 
  } */

  span {
      font-size: 54px;
  }

  main {
    grid-area: game;
  }

  collected {
      color: beige;
      font-size: 24px;
  }